<div class="page-not-found-container">
  <div class="page-not-found">404 Page not found</div>
  <div>
    <a class="redirect-to-home" aria-label="go back to home" routerLink="/">
      Back to home
    </a>
  </div>
</div>
