.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.page-not-found {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.redirect-to-home {
  font-size: 1.2rem;
}
