<mat-horizontal-stepper>
  <mat-step
    [stepControl]="getStepperFormGroup(group.groupTitle)"
    [errorMessage]="'invalid input field'"
    *ngFor="let group of groups; let i = index"
  >
    <ng-template matStepLabel>{{ group.groupTitle }}</ng-template>
    <div class="input-container">
      <app-form-input
        *ngFor="let input of group.inputForms; let i = index"
        [inputType]="input.inputType"
        [label]="input.label"
        [inputFormControl]="getInputFormControl(group.groupTitle, input.label)"
        [errorMessage]="input.errorMessage"
        [options]="input.options"
      ></app-form-input>
    </div>
    <div class="button-container">
      <div>
        <button type="button" *ngIf="i > 0" mat-button matStepperPrevious>
          Back
        </button>
      </div>
      <button
        type="button"
        *ngIf="i < group.inputForms.length"
        mat-button
        matStepperNext
      >
        Next
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
