h3 {
  margin-bottom: 0;
  color: white;
}

.section-header {
  padding: 0.6rem;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #3f51b5, $alpha: 0.8);
}
