<div [ngSwitch]="section.sectionType">
  <div class="section-header" *ngIf="section.showHeader">
    <h3>{{ section.sectionTitle }}</h3>
  </div>
  <app-stepper
    *ngSwitchCase="sectionTypeEnum.STEPPER"
    [sectionGroupControl]="sectionControl"
    [groups]="section.groups"
  ></app-stepper>
  <!-- <app-simple-section
    *ngSwitchCase="SIMPLE_TYPE"
    [stepperControl]="getSectionGroupForm(i)"
    [groups]="section.groups"
  ></app-simple-section>
  <app-table-section
    *ngSwitchCase="TABLE_TYPE"
    [stepperControl]="getSectionGroupForm(i)"
    [groups]="section.groups"
  ></app-table-section> -->
</div>
