.authentication-container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .auth-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 30rem;
    padding: 1rem 2rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
    width: 5rem;
    height: 2.25rem;
    overflow: hidden;
  }

  .mat-spinner::ng-deep circle {
    stroke: #fff;
  }

  .button-sign-up {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
  }

  .login {
    margin-top: 1rem;
    text-decoration: none;
    color: #3f51b5;
  }
}
