<main class="authentication-container">
  <form (submit)="handleRegistration()" [formGroup]="userData">
    <mat-card class="auth-card">
      <mat-form-field class="form-section">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          [formControl]="getControl('email')"
        />
        <mat-error
          *ngIf="
            getControl('email').hasError('required') ||
            getControl('email').hasError('email')
          "
        >
          {{
            getControl("password").hasError("required")
              ? "required field"
              : "invalid email"
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-section">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="text"
          name="password"
          type="password"
          [formControl]="getControl('password')"
        />
        <mat-error
          *ngIf="
            getControl('password').hasError('required') ||
            getControl('password').hasError('minlength')
          "
        >
          {{
            getControl("password").hasError("required")
              ? "required field"
              : "field must be at least 6 characters"
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-section">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          type="text"
          name="password"
          type="password"
          [formControl]="getControl('confirmPassword')"
        />
        <mat-error
          *ngIf="
            getControl('confirmPassword').hasError('required') ||
            getControl('confirmPassword').hasError('confirmPassword')
          "
        >
          {{
            getControl("confirmPassword").hasError("required")
              ? "required field"
              : "not matching with password"
          }}
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="button"
        [disabled]="!userData.valid"
      >
        <div class="button-sign-up">
          <span> register </span>
          <div
            displayTo="flex"
            [appLoading]="{ req: 'POST', url: 'signUp' }"
            class="fill primary-background center"
            aria-label="sign up loading"
          >
            <app-spinner color="white"></app-spinner>
          </div>
        </div>
      </button>
      <a aria-label="login" class="login" routerLink="/login">login</a>
    </mat-card>
  </form>
</main>
