@import "~@angular/material/theming";

.card {
  position: relative;
  cursor: pointer;
  min-height: 20rem;
  transition: 0.2s;
  backface-visibility: hidden;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  height: 100%;
  overflow: hidden;

  &:hover {
    transform: scale(1.02);
    @include mat-elevation(4);
  }

  .add-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .add {
    display: flex;
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    background-color: gray;
    justify-content: center;
    align-items: center;

    &::before {
      display: block;
      content: "";
      width: 7rem;
      height: 7rem;
      background-color: white;
      border-radius: 3.5rem;
      position: absolute;
    }

    &::after {
      display: block;
      content: "+";
      font-size: 6rem;
      color: gray;
      z-index: 1;
    }
  }

  .form-card-details {
    position: relative;
    height: 100%;
    padding-bottom: 2rem;

    .title {
      margin-bottom: 0.6rem;
      font-size: 1.1rem;
      text-align: center;
    }

    .date {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .loading-cover {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: white, $alpha: 0.6);
  }
}
