<mat-card
  attr.aria-label="{{ form.title }}"
  role="button"
  (click)="this.onCardClicked()"
  class="card"
>
  <div *ngIf="this.addCard; else formCard" class="add-container">
    <div class="add"></div>
  </div>
  <ng-template #formCard>
    <div class="form-card-details">
      <h2 class="title">{{ form.title }}</h2>
      <div class="description">{{ form.description }}</div>
      <div class="date">{{ form.date | date }}</div>
    </div>
  </ng-template>

  <div *ngIf="loading" class="loading-cover">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
