<main class="authentication-container">
  <form (submit)="onHandleLogin()" [formGroup]="userData">
    <mat-card class="auth-card">
      <mat-form-field class="form-section">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          [formControl]="getControl('email')"
        />
        <mat-error
          *ngIf="
            getControl('email').hasError('required') ||
            getControl('email').hasError('email')
          "
        >
          {{
            getControl("password").hasError("required")
              ? "required field"
              : "invalid email"
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-section">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="text"
          name="password"
          type="password"
          [formControl]="getControl('password')"
        />
        <mat-error
          *ngIf="
            getControl('password').hasError('required') ||
            getControl('password').hasError('minlength')
          "
        >
          {{
            getControl("password").hasError("required")
              ? "required field"
              : "field must be at least 6 characters"
          }}
        </mat-error>
      </mat-form-field>
      <button
        [disabled]="userData.invalid"
        type="submit"
        mat-flat-button
        color="primary"
      >
        <div
          displayTo="flex"
          [appLoading]="{ req: 'POST', url: 'signInWithPassword' }"
          aria-label="sign up loading"
          class="fill primary-background center"
        >
          <app-spinner color="white"></app-spinner>
        </div>
        <span> login </span>
      </button>
      <a aria-label="sign up" class="sign-up" routerLink="/sign-up">sign up</a>
    </mat-card>
  </form>
</main>
