.form-editor-container {
  width: 80%;
  margin: 2rem auto 0 auto;
  border-radius: 1rem;
  padding: 2rem;

  .form-details {
    padding-bottom: 1rem;
  }

  .title {
    text-align: center;
    font-size: 1.6rem;
  }

  .section {
    padding-top: 3rem;
    overflow: hidden;
    margin-top: 2rem;
  }

  .button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}
