<main class="form-editor-container">
  <mat-card class="form-details">
    <h2 class="title">{{ form.title }}</h2>
    <p class="description">{{ form.description }}</p>
  </mat-card>

  <form (submit)="modifyForm()" [formGroup]="formInputGroups">
    <mat-card
      *ngFor="let section of form.sections; let i = index"
      class="section"
    >
      <div [formGroupName]="section.sectionTitle">
        <app-section
          [section]="section"
          [sectionControl]="formInputGroups.get(section.sectionTitle)"
        ></app-section>
      </div>
    </mat-card>
    <div class="button-container">
      <button
        [disabled]="
          !(
            formInputGroups.touched &&
            formInputGroups.valid &&
            formInputGroups.dirty
          )
        "
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </div>
  </form>
</main>
