<div class="input-field" [ngSwitch]="inputType">
  <mat-form-field *ngSwitchCase="inputTypeEnum.TEXT" class="form-section">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [type]="inputType"
      [name]="label"
      [formControl]="inputFormControl"
    />
    <mat-error
      *ngIf="
        inputFormControl.hasError('required') ||
        inputFormControl.hasError('email')
      "
    >
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
  <div
    *ngSwitchCase="inputTypeEnum.CHECKBOX"
    [ngClass]="{ horizontal: false, vertical: true }"
  >
    <div *ngIf="showLabel">
      <h4 class="label" [id]="label">{{ label }}</h4>
    </div>
    <mat-checkbox
      *ngFor="let option of options"
      [formControl]="inputFormControl"
    >
      {{ option }}
    </mat-checkbox>
  </div>
  <mat-radio-group
    *ngSwitchCase="inputTypeEnum.RADIO"
    aria-label="Select an option"
    [ngClass]="{ horizontal: false, vertical: true }"
  >
    <div>
      <h4 class="label" [id]="label">{{ label }}</h4>
    </div>
    <mat-radio-button
      [aria-label]="label"
      [formControl]="inputFormControl"
      *ngFor="let option of options"
      [value]="option"
      ngDefaultControl
    >
      {{ option }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field *ngSwitchCase="inputTypeEnum.SELECT" appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControl]="inputFormControl">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
