.form-section {
  width: 100%;
}

mat-radio-button {
  margin-right: 1rem;
}

.input-field {
  margin-bottom: 1rem;
}

.label {
  font-weight: 500;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > * {
    margin-bottom: 0.5rem;
  }
}
